PORT=5001
NODE_ENV=development
MONGO_URI=mongodb://127.0.0.1:27017/gym_crm
JWT_SECRET=replace_me_with_a_long_random_string
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:3000
SUPERADMIN_PASSWORD=set_a_long_secret_here
